:root {
    --text-error: #ff0000;
}

body,
h1,
h2,
h3,
div {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 1rem;
}

nav {
    padding-block-end: 1.5rem;
}

nav input {
    inline-size: 45rem;
}

h1,
h2,
h3 {
    padding-block-end: 0.5rem;
}

h1 {
    font-size: 1.5rem;
}

h2,
h3 {
    font-size: 1.25rem;
}

#hint {
    color: var(--text-error);
}
